body {
  background-color: black;
  border: solid 1px gray;
  margin: 0;
  width: 800px;
  height: 480px;
  overflow: hidden;
}

#video-bg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.content {
  position: fixed;
  bottom: 0;
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

#cat-alert {
  font-size: 3.5em;
  text-align: left;
  margin: 2em 0 0.5em 0;
  color: #ffffff;
}

#timer {
  font-size: 3em;
  text-align: left;
  margin: 0.2em 0;
  color: #ffffff;
}

#last-cat-img-container {
    position: fixed;
    right: 50px;
    top: 100px;
    width: 400px;
    height: 300px;
}

#last-cat-img-container img {
    width: 100%;
    height: 100%;
}

.highlight {
    font-weight: bold;
    color: green;
}
